# Application configuration
CONFIG_FILE=app/tests/integ/config.test.yml

# Dependencies
## Replace POSTGRES_HOST by localhost to run integration tests locally
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

## Replace REDIS_HOST by localhost to run integration tests locally
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=redis
REDIS_PASSWORD=changeme

## Replace ELASTIC_HOST by localhost to run integration tests locally
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme

## Replace SECRETIVESHELL_HOST by localhost to run integration tests locally
SECRETIVESHELL_HOST=secretiveshell
SECRETIVESHELL_PORT=8000

# Tests
VCR_ENABLED=true

# Secrets (to complete)
ALBERT_API_KEY=
BRAVE_API_KEY=
