# Application configuration
CONFIG_FILE=config.yml
API_HOST=api
EMBEDDINGS_MODEL=embeddings-small

# Docker configuration
COMPOSE_PROJECT_NAME=albert-api

# Local services
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=username
REDIS_PASSWORD=changeme

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=changeme

MCP_BRIDGE_HOST=localhost
MCP_BRIDGE_PORT=9876

# Tests
VCR_ENABLED=true

# External services
ALBERT_API_URL=https://albert.api.etalab.gouv.fr
#ALBERT_API_KEY=
#BRAVE_API_KEY=
#PYTHON_VENV_PATH=/home/user/my/venv