interactions:
- request:
    body: '{"prompt":"Sort these sentences by relevance.","input":["Sentence 1","Sentence
      2","Sentence 3"],"model":"BAAI/bge-reranker-v2-m3"}'
    headers:
      Authorization:
      - Bearer dummy_token_for_test
      content-type:
      - application/json
    method: POST
    uri: https://albert.api.etalab.gouv.fr/v1/rerank
  response:
    body:
      string: '{"object":"list","data":[{"score":0.29787827,"index":0},{"score":0.068537496,"index":2},{"score":0.037397135,"index":1}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
