interactions:
- request:
    body: '{"input":"Test embeddings","model":"BAAI/bge-m3","dimensions":null,"encoding_format":"float"}'
    headers:
      Authorization:
      - Bearer dummy_token_for_test
      content-type:
      - application/json
    method: POST
    uri: https://albert.api.etalab.gouv.fr/v1/embeddings
  response:
    body:
      string: '{"data":[{"embedding":[-0.037617955,-0.016086154,-0.011509302,0.013112544,-0.0050067706,-0.02412923,0.018146185,-0.0076624188,0.0030855678,0.000996428,0.004778376,-0.013855946,0.038012046,0.012485578,-0.002978088,-0.036435675,-0.01888063,-0.024147144,-0.014438129,-0.06423713,-0.03403529,-0.050013963,-0.008795436,-0.014008209,0.035952017,0.034089033,-0.04388761,-0.021818412,-0.025616035,-0.011079383,0.01941803,0.028267205,0.020922748,-0.035468355,-0.03656107,-0.03374868,0.019328462,-0.007241456,-0.061980058,-0.0234843[...]
