interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token_for_test
    method: GET
    uri: https://albert.api.etalab.gouv.fr/v1/models
  response:
    body:
      string: '{"object":"list","data":[{"id":"meta-llama/Llama-3.1-8B-Instruct","created":1742986766,"object":"model","owned_by":"Albert
        API","max_context_length":64000,"type":"text-generation","aliases":["AgentPublic/Llama-3.1-8B-Instruct","AgentPublic/llama3-instruct-8b","meta-llama/Meta-Llama-3.1-8B-Instruct"]},{"id":"BAAI/bge-m3","created":1742986767,"object":"model","owned_by":"Albert
        API","max_context_length":8192,"type":"text-embeddings-inference","aliases":[]},{"id":"openai/whisper-large-v3","created":1742986767,"object":"model","owned_by":"Albert
        API","max_context_length":null,"type":"automatic-speech-recognition","aliases":[]},{"id":"PleIAs/Cassandre-RAG","created":1742[...]
[...]
- request:
    body: '{"model": "BAAI/bge-m3", "input": "hello world"}'
    headers:
      Authorization:
      - Bearer dummy_token_for_test
      Content-Type:
      - application/json
    method: POST
    uri: https://albert.api.etalab.gouv.fr/v1/embeddings
  response:
    body:
      string: '{"data":[{"embedding":[-0.04022304,0.036899447,-0.029062564,0.01620252,-0.035785288,-0.040751796,-0.05525475,-0.040978402,0.0032740233,0.001996989,-0.006666072,0.011623137,0.021584477,-0.013398238,0.030290026,0.00423475,0.020489201,-0.022906361,-0.022056578,-0.031083157,-0.05087365,-0.01745831,0.012284079,-0.014078064,0.015390506,0.04120501,-0.036899447,-0.00063084555,0.00038181202,-0.060995504,0.037163824,0.0800684,-0.017939854,-0.049816143,-0.034199025,-0.035728637,0.0044377535,0.000828538,-0.0688135,0.010896101,0.[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer dummy_token_for_test
    method: GET
    uri: https://grist.numerique.gouv.fr/api/orgs
  response:
    body:
      string: '[{"name":"Personal","createdAt":"2024-07-17T12:39:58.417Z","updatedAt":"2024-07-17T12:39:58.430Z","id":2303,"domain":"docs-2311","host":null,"owner":{"id":2311,"name":"Etalab
        DINUM","picture":null,"ref":"tPX6dGsPtfbmBGnApU15JB","createdAt":"2024-07-17T12:39:58.417Z"},"access":"owners"},{"name":"Albert","createdAt":"2024-07-11T07:48:42.021Z","updatedAt":"2024-07-11T07:48:42.027Z","id":2159,"domain":"albert","host":null,"owner":null,"access":"owners"},{"name":"templates","createdAt":"2024-05-29T13:35:06.842Z","updatedAt":"2024-05-29T13:35:06.850Z","id":1118,"domain":"templates","host":null,"owner":null,"access":"viewers","public":true}]'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"282-TvntxKW8ZI0tQHDHLGuRDwRDgXA"
    status:
      code: 200
      message: OK
- request:
    body: "{\"input\":[\"Albert peut tout aussi bien \xEAtre un scientifique que le
      mod\xE8le ia souverain de l'\xE9tat fran\xE7ais.\",\"Erasmus sous entend tout
      autant le nom d'un savant qu'une programme \xE9ducatif de la nation fran\xE7aise.\"],\"model\":\"BAAI/bge-m3\",\"encoding_format\":\"float\"}"
    headers:
      Authorization:
      - Bearer dummy_token_for_test
      content-type:
      - application/json
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 1.63.0
      x-stainless-read-timeout:
      - '300'
      x-stainless-retry-count:
      - '0'
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.0
    method: POST
    uri: https://albert.api.etalab.gouv.fr/v1/embeddings
  response:
    body:
      string: '{"data":[{"embedding":[-0.02795646,0.021714844,-0.045148935,-0.023901278,-0.01575354,-0.023191154,0.016949538,0.018659443,-0.0012719161,0.017257882,-0.04126194,0.0018769231,-0.020948658,-0.028984271,0.027937772,0.024069466,-0.008885893,0.031338893,-0.024985151,-0.005816476,-0.033899076,0.0070732087,-0.0017846536,-0.04896118,-0.041374065,0.01897713,2.1333648e-05,-0.008899[...]
