interactions:
- request:
    body: "{\"input\":[\"Qui sont les \xE9rudits ? \"],\"model\":\"BAAI/bge-m3\",\"encoding_format\":\"float\"}"
    headers:
      Authorization:
      - Bearer dummy_token_for_test
      content-type:
      - application/json
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 1.63.0
      x-stainless-read-timeout:
      - '300'
      x-stainless-retry-count:
      - '0'
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.0
    method: POST
    uri: https://albert.api.etalab.gouv.fr/v1/embeddings
  response:
    body:
      string: '{"data":[{"embedding":[-0.04217536,-0.0136800045,-0.014666454,-0.0071377982,0.0006717859,-0.043776013,-0.014517556,-0.03566107,0.0448183,-0.026410785,-0.02307919,0.026150212,-0.052077077,-0.024009803,0.031640828,-0.027266948,-0.0046879607,-0.017383842,0.004969471,-0.018212087,-0.06577569,-0.034302376,-0.0027313477,0.01952425,0.031380255,0.04332932,-0.00033560215,0.009576003,0.03011462,-0.05416165,-0.054980587,-0.022427762,0.008654697,0.045860585,-0.0031826948,0.010171595,0.02240915,-0.01774678,-0.022800008,-0.0256104[...]
